/MagicFinger-war/build/
/MagicFinger-war/dist/
/MagicFinger-war/nbproject/private/
/MagicFinger/build/
/MagicFinger/dist/
/MagicFinger/nbproject/private/
/MagicFinger/MagicFinger-ejb/build/
/MagicFinger/MagicFinger-ejb/dist/
/MagicFinger/MagicFinger-ejb/nbproject/private/
*.class
# Package Files #
#*.jar #Descartado para poder subir las bibliotecas
*.war
*.ear
*.properties

## netbeans
nbactions.xml
nb-configuration.xml

## windows
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
