body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0;
    padding: 0;
}
html{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  24px;
    font-weight: bold;
    margin-top:10px;
    padding: 0px;
    padding-bottom: 5px; 
    margin-bottom: 10px; 
    margin-top: 10px;
    
}

h4{
    text-align: center; 
    margin-bottom: 10px; 
    font-weight: bold;        
    color: #036fab;
  
    
}

h3 {
    color: #036fab;
    display: inline;
}

.sinSalto{
    display: inline;
    text-align: left;
}
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
top{
    text-align: center;
}
content{
    margin:0px auto;
    width: 800px;
    
}
