body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0;
    padding: 0;
}
html{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  24px;
    font-weight: bold;
    margin-top:10px;
    padding: 0px;
    color: black;
}

h3 {
    color: #036fab;
}

.sinSalto{
    display: block;
    text-align: left;
}
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
top{
    text-align: center;
}
content{
    margin:0px auto;
    width: 800px;
    
}
